.App {
  text-align: center;
}

.countries-wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
}

.country-flag{
  height: 200px;
  width: 50%; 
}

img {
  max-width: 80%;
  height: auto;
  padding: 10px 10px 10px 10px;
}